.about-us {
  @media screen and (max-width: 768px) {
    padding: 5px;
    padding-bottom: 300px;
  }
  @media screen and (max-width: 380px) {
    padding-bottom: 330px;
  }
  @media screen and (max-width: 421px) {
    padding-bottom: 200px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    @media screen and (max-width: 493px) {
      left: 150px;
    }
  }
  &__content-text--title {
    @media screen and (max-width: 426px) {
      width: 70%;
    }
  }
  &__content-text {
    max-width: 539px;
    padding-right: 40px;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0px;
    }
  }
  &__content-imagegroup {
    width: 100%;
    @media screen and (max-width: 768px) {
      position: absolute;
      left: 26%;
      top: 1750px;
      width: 55%;
    }
    @media screen and (max-width: 600px) {
      top: 1650px;
      width: 60%;
    }
    @media screen and (max-width: 550px) {
      top: 2000px;
    }
    @media screen and (max-width: 517px) {
      top: 2100px;
    }
    @media screen and (max-width: 426px) {
      top: 2200px;
    }
    @media screen and (max-width: 415px) {
      top: 2000px;
      width: 80%;
      left: 15%;
    }
    @media screen and (max-width: 370px) {
      top: 2050px;
    }
    @media screen and (max-width: 337px) {
      top: 2120px;
    }
  }
  &__content-text--discription {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 48px;
  }
}
