.digital-agency {
  &__content {
    position: relative;
    padding-bottom: 389px;
  }
  &__content-title {
    text-align: center;
  }
  &__content-title--bottom {
    text-align: center;
    padding-right: 150px;
  }
  &__content-discription {
    color: rgba(224, 229, 243, 1);
    @include font(24px, 400, 40px, left);
    margin-left: 150px;
    width: 46%;
    padding-bottom: 44px;
  }
  &__content-discription--desktop{
    @media screen and (max-width: 1024px) {
      display: none;
      
    }

  }
  &__content-button {
    margin-left: 150px;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 19px 32px;
    @include font(16px, 500, 22px, center);
    font-family: $ff;
    text-align: center;
    border: none;
    cursor: pointer;
  }
  &__content-world {
    position: absolute;
    top: -50px;
    left: 50px;
    @media screen and (max-width:1024px){
      width: 25%;
      top: -20px;
      left: 100px;
    }
    @media screen and (max-width:1024px){
      width: 25%;
      top: -20px;
      left: 40px;
    }

  }
  &__content-meeting {
    position: absolute;
    top: 490px;
    left: -130px;
    @media screen and (max-width:1305px){
      top: 530px;
      left: -80px;
      width: 20%;
    }
    @media screen and (max-width:1024px){
      width: 25%;
      top: 500px;
      left: 100px;
    }
    @media screen and (max-width:1024px){
      width: 25%;
      top: 550px;
      left: 100px;
    }
  }
  &__content-work {
    position: absolute;
    top: 188px;
    right: -100px;
    width: 40%;
    @media screen and (max-width:1305px){
      right: -80px;
      width: 38%;
    }
    @media screen and (max-width:1256px){
      right: -60px;
      width: 36%;
    }
    @media screen and (max-width:1024px){
      width: 35%;
      top: 250px;
      left: 600px;
    }
    @media screen and (max-width:1024px){
      width: 35%;
      top: 520px;
      left: 400px;
    }

  }
  &__content-work-bottom {
    position: absolute;
    top: 590px;
    right: -70px;
    width: 17%;
    @media screen and (max-width:1305px){
      top: 530px;
      right: -80px;
      width: 17%;
    }
    @media screen and (max-width:1024px){
      width: 15%;
      top: 530px;
      left: 800px;
    }
    @media screen and (max-width:1024px){
      width: 15%;
      top: 730px;
      left: 530px;
    }

  }
  &__content-line {
    position: absolute;
    right: -145px;
    top: -40px;
    @media screen and (max-width: 1381px) {
      left: 360px;
      
    }
    @media screen and (max-width:1024px){
      top: -20px;
      left: 370px;
    }
    @media screen and (max-width:1024px){
      top: 20px;
      left: 250px;
    }

  }
  &__content-circle {
    position: absolute;
    top: 730px;
    left: 30px;

  }
  &__content-scroll {
    position: absolute;
    top: 600px;
    left: 520px;
    @media screen and (max-width:1024px){
     display: none;
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-content{
background-color: rgb(28, 47, 88);
}
