.digital-agency {
  // .digital-agency__content

  &__content {
    position: relative;
    @media screen and (max-width: 425px) {
      padding-bottom: 850px;
  }
  }
 &__content-title {
    text-align: center;
  }
  &__content-title-bottom {
    text-align: center;
    padding-right: 150px;
    @media screen and (max-width: 425px) {
      padding-right: 90px;
  }
  }
  &__content-discription {
    color: rgba(224, 229, 243, 1);
    font-family: $ff;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 150px;
    width: 45.17%;
    @media screen and (max-width: 425px) {
      margin-left: 20px;
      width: 82.4%;
  }
  }
  &__content-button {
    margin-left: 150px;
    @media screen and (max-width: 425px) {
      margin-left: 20px;
  }
  }
  &__content-world {
    position: absolute;
    width: 35%;
    top: -50px;
    left: 0.67%;
    right: 0.96%;
    @media screen and (max-width: 425px) {
      left: -28px;
      top: 0px;
  }
  
  }
  &__content-meeting {
    position: absolute;
    top: 490px;
    left: -130px;
    @media screen and (max-width: 425px){
      left: 30px;
      top: 950px;
    }

  }
  &__content-work {
    position: absolute;
    top: 188px;
    right: -100px;
    width: 40%;
    @media screen and (max-width: 425px) {
      top: 550px;
      width: 87.2%;
      left: 20px;

  }
  }
  &__content-work-bottom {
    position: absolute;
    top: 590px;
    right: -70px;
    @media screen and (max-width: 425px){
      top: 770px;
      right: 20px
    }
  }
  &__content-line {
    position: absolute;
    right: -145px;
    top: -40px;
    width: 62%;
     @media screen and (max-width: 425px) {
      width: 80%;
    left: 90px;
      top: 20px;
      
  }
    
  }
  &__content-circle {
    position: absolute;
    top: 730px;
    left: 30px;
    @media screen and (max-width: 425px){
      top: 1170px;
      left: 160px;
    }
  }
  &__content-scroll {
    position: absolute;
    top: 600px;
    left: 520px;
    @media screen and (max-width: 990px) {
      display: none;
  }
  }
}
