.digital-agency {
  &__content {
    position: relative;
    padding-bottom: 389px;
    @media screen and (max-width: 550px) {
      padding-bottom: 800px;
    }
    @media screen and (max-width: 415px) {
      padding-bottom: 600px;
    }
  }
  &__content-title {
    text-align: center;
  }
  &__content-title--bottom {
    text-align: center;
    padding-right: 150px;
  }
  &__content-discription {
    color: rgba(224, 229, 243, 1);
    @include font(24px, 400, 40px, left);
    margin-left: 150px;
    width: 46%;
    padding-bottom: 44px;
    @media screen and (max-width: 550px) {
      margin-left: 20px;
      width: 70%;
      padding-bottom: 20px;
    }
    @media screen and (max-width: 493px) {
      width: 80%;
    }
  }
  &__content-discription--desktop {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &__content-button {
    margin-left: 150px;
    background-color: $yellow;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 19px 32px;
    @include font(16px, 500, 22px, center);
    font-family: $ff;
    text-align: center;
    border: none;
    cursor: pointer;
    @media screen and (max-width: 550px) {
      margin-left: 20px;
    }
  }

  &__content-world {
    position: absolute;
    top: -50px;
    left: 50px;
    @media screen and (max-width: 1024px) {
      width: 25%;
      top: -20px;
      left: 100px;
    }
    @media screen and (max-width: 1024px) {
      width: 25%;
      top: -20px;
      left: 40px;
    }
  }
  &__content-meeting {
    position: absolute;
    top: 490px;
    left: -130px;
    @media screen and (max-width: 1305px) {
      top: 530px;
      left: -80px;
      width: 20%;
    }
    @media screen and (max-width: 1080px) {
      top: 650px;
      left: 20px;
    }
    @media screen and (max-width: 1024px) {
      width: 25%;
      top: 550px;
      left: 100px;
    }
    @media screen and (max-width: 818px) {
      top: 580px;
    }
    @media screen and (max-width: 550px) {
      top: 900px;
      left: 60px;
      width: 40%;
    }
    @media screen and (max-width: 415px) {
      left: 30%;
      top: 820px;
    }
  }
  &__content-work {
    position: absolute;
    top: 188px;
    right: -100px;
    width: 40%;
    @media screen and (max-width: 1305px) {
      right: -80px;
      width: 38%;
    }
    @media screen and (max-width: 1256px) {
      right: -20px;
      width: 34.3%;
    }
    @media screen and (max-width: 1080px) {
      right: 10px;
      top: 320px;
      width: 34%;
    }
    @media screen and (max-width: 1024px) {
      width: 35%;
      top: 250px;
      left: 600px;
    }
    @media screen and (max-width: 940px) {
      left: 530px;
      top: 280px;
    }
    @media screen and (max-width: 825px) {
      left: 400px;
      top: 520px;
    }
    @media screen and (max-width: 625px) {
      left: 350px;
      top: 560px;
    }
    @media screen and (max-width: 550px) {
      width: 70%;
      top: 480px;
      left: 100px;
    }
    @media screen and (max-width: 415px) {
      left: 18%;
      top: 520px;
    }
  }
  &__content-work-bottom {
    position: absolute;
    top: 590px;
    right: -70px;
    max-width: 160px;
    @media screen and (max-width: 1305px) {
      top: 530px;
      right: -80px;
    }
    @media screen and (max-width: 1256px) {
      right: -10px;
      top: 500px;
    }
    @media screen and (max-width: 1080px) {
      right: 20px;
      top: 610px;
    }
    @media screen and (max-width: 1024px) {
      width: 15%;
      top: 530px;
      left: 800px;
    }
    @media screen and (max-width: 940px) {
      top: 550px;
      left: 700px;
    }
    @media screen and (max-width: 825px) {
      left: 500px;
      top: 750px;
    }
    @media screen and (max-width: 680px) {
      left: 490px;
      top: 700px;
    }
    @media screen and (max-width: 625px) {
      left: 450px;
      top: 730px;
    }
    @media screen and (max-width: 550px) {
      width: 25%;
      top: 800px;
      left: 300px;
    }
    @media screen and (max-width: 493px) {
      left: 280px;
      top: 750px;
    }
    @media screen and (max-width: 393px) {
      top: 720px;
      left: 220px;
    }
  }
  &__content-line {
    position: absolute;
    right: -145px;
    top: -40px;
    @media screen and (max-width: 1381px) {
      left: 360px;
    }
    @media screen and (max-width: 1080px) {
      left: 310px;
    }
    @media screen and (max-width: 1030px) {
      top: -20px;
      left: 370px;
      width: 60%;
    }
    @media screen and (max-width: 960px) {
      top: 20px;
      left: 250px;
    }
    @media screen and (max-width: 625px) {
      left: 200px;
      top: 0px;
    }
    @media screen and (max-width: 493px) {
      left: 150px;
    }
    @media screen and (max-width: 364px) {
      left: 120px;
    }
  }
  &__content-circle {
    position: absolute;
    top: 730px;
    left: 30px;
    @media screen and (max-width: 1080px) {
      top: 830px;
      left: 160px;
    }
    @media screen and (max-width: 1024px) {
      top: 800px;
      left: 270px;
    }
    @media screen and (max-width: 825px) {
      left: 200px;
      top: 730px;
    }
    @media screen and (max-width: 640px) {
      left: 200px;
      top: 700px;
    }
    @media screen and (max-width: 550px) {
      top: 1100px;
    }
    @media screen and (max-width: 415px) {
      top: 930px;
    }
    @media screen and (max-width: 393px) {
      left: 150px;
      width: 30%;
    }
  }
  &__content-scroll {
    position: absolute;
    top: 600px;
    left: 520px;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-content {
  background-color: rgb(28, 47, 88);
}
