.facts {
  padding-bottom: 120px;
  @media screen and (max-width: 660px) {
    padding-bottom: 0px;;
  }
  &__content {
    margin-top: 141px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 660px) {
      flex-direction: column;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 660px) {
      margin-bottom: 20px;
    }
  }
  &__column--amount {
    @media screen and (max-width: 660px) {
      font-size: 48px;
    }
  }
  &__column--type {
    color: rgba(224, 229, 243, 1);
    margin-top: 8px;
    @media screen and (max-width: 660px) {
      font-size: 20px;
    }
  }
}

