.main-header {
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
  }
  &__content-nav-list {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 802px) {
      display: none;
    }
  }
  &__content-nav-list--item {
    padding: 0 30px;
  }
  &__content-nav--link {
    font-family: $ff;
    @include font(18px, 500, 22px, left);
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      color: $yellow;
    }
  }
}
