.projects {
  padding-bottom: 120px;
  @media screen and (max-width: 660px) {
    padding-bottom: 20px;
   }
  &__title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__filter {
    display: flex;
    justify-content: center; 
    margin-bottom: 48px;
  }
  &__filter-content {
    display: flex;
    justify-content: space-between;
    width: 40%;
    @media screen and (max-width: 969px) {
    justify-content: center;
    width: 20%;
    flex-wrap: wrap;
    }
    @media screen and (max-width: 425px) {
      flex-wrap: wrap;
    }
  }
  &__filter-content-item {
    transition: 0.3s;
    text-transform: lowercase;
		font-weight: 800;
		margin-left: 5%;
		color: #fff;
    font-family: $ff;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    
    &:hover {
      color: $yellow;
      
    }
  }

  &__content {
    display: flex;
    gap: 30px;
    margin-bottom: 32px;
    @media screen and (max-width: 969px) {
      flex-wrap: wrap;
    }
  }
  &__content-column-image {
    margin-bottom: 32px;
    @media screen and (max-width: 969px) {
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }
  &__content-column-title {
    margin-bottom: 32px;
    max-width: 379px;
    @media screen and (max-width: 969px) {
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }
  &__content-column-discription {
    color: rgba(224, 229, 243, 1);
    @media screen and (max-width: 969px) {
     width: 80%;
     margin: 0 auto;
    }
  }
  &__button {
    margin: 0 auto;
  }
}
