.reviews {

    // .reviews__title

    &__title {
        margin-bottom: 48px;
    }
}
.container {
}
.swiper {
}
.swiper-wrapper {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 740px) {
        flex-wrap: wrap;
        
    }
}
.swiper-slide {
    background: rgba(53, 63, 91, 1);
    padding: 20px;
    border-radius: 40px;
    // .swiper-slide__text

    &__text {
        margin-bottom: 10px;
    }

    // .swiper-slide__footer

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .swiper-slide__footer-author

    &__footer-author {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    // .swiper-slide__footer-author-image

    &__footer-author-image {
    }

    // .swiper-slide__footer-author-info

    &__footer-author-info {
    }

    // .swiper-slide__footer-author-info-name

    &__footer-author-info-name {
    }

    // .swiper-slide__footer-author-info-position

    &__footer-author-info-position {
        color: $yellow;
    }

    // .swiper-slide__footer-rating

    &__footer-rating {
    }
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
