.solution {
  display: flex;

  @media screen and (max-width: 660px) {
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }
  &__background-yellow {
    background-color: $yellow;
    width: 40%;
    position: relative;
    @media screen and (max-width: 660px) {
      width: 100%;
      min-height: 480px;
    }
    @media screen and (max-width: 520px) {
      min-height: 400px;
    }
    @media screen and (max-width: 390px) {
    min-height: 340px;
    }
    @media screen and (max-width: 300px) {
      min-height: 290px;
    }
  }
  &__image {
    position: absolute;
    top: 100px;
    right: -120px;
    z-index: 2;
    @media screen and (max-width:1256px){
      width: 98%;
    }
    @media screen and (max-width: 809px){
      right: -50px;
    }
    @media screen and (max-width: 768px) {
      width: 70%;
      right: 70px;
    }
    @media screen and (max-width: 660px) {
      top: -50px;
      left: 40px;
      width: 80%;
    }
  }
  &__image-icon {
    position: absolute;
    top: 50px;

    @media screen and (max-width: 665px) {
      display: none;
    }
  }
  &__background-grey {
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 210px;
    padding-right: 110px;
    background: rgba(53, 63, 91, 1);
    width: 60%;
    @media screen and (max-width:1256px){
      padding: 20px 10px 10px 150px;
    }
    @media screen and (max-width: 809px){
      padding: 20px 20px 20px 50px;
    }
    @media screen and (max-width: 768px) {
      padding: 10px;
    }
    @media screen and (max-width: 660px) {
      background-color: transparent;
      width: 100%;
      padding: 15px;
    }
  } 
    &__background-grey-container {
      color: #fff;
      margin-bottom: 50px;
      @media screen and (max-width: 660px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-bottom: 26px;
      }
  }
  &__background-grey-container-title{
    @media screen and (max-width: 660px) {
      margin-bottom: 20px;
    }
  }
  &__background-grey-container-text{
    max-width: 494px;
    @media screen and (max-width: 660px) {
      width: 80%;
    }
  }
  &__background-grey-container-text-item {
    background-image: url("../../assets/icons/solution-icon.svg");
    background-repeat: no-repeat;
    @media screen and (max-width: 660px) {
      background-image: url("../../assets/icons/solution-icon-yellow.svg");
    }
  }
  &__background-grey-container-text-item-title {
    margin-bottom: 18px;
    margin-left: 50px;
    @media screen and (max-width: 660px) {
    }
  }
  &__background-grey-container-text-item-discription {
    margin-bottom: 42px;
    margin-left: 50px;
    @media screen and (max-width: 660px) {
      width: 80%;;
    }
  }
}


