.first-screen {
    background-image: url(./image/backgrounds/first-screen.jpg);

    // .first-screen__logo

    &__logo {
    }

    // .first-screen__porten

    &__porten {
    }

    // .first-screen__line

    &__line {
    }

    // .first-screen__place

    &__place {
    }

    // .first-screen__text

    &__text {
    }
}
.container {
    margin: 0 auto;
    max-width: 75rem;
}
