@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$ff: Inter;

h1 {
  @include font (150px, 700, 85px, center);
  font-family: $ff;
  color: #fff;
  @media screen and (max-width: 1024px) {
    font-size: 110px;
  }
  @media screen and (max-width: 600px) {
    font-size: 70px;
  }
}
h2 {
  @include font (48px, 700, 58px, left);
  color: #fff;
  font-family: $ff;
  @media screen and (max-width: 1024px) {
    font-size: 36px;
  }
  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}
h3 {
  @include font (30px, 600, 36px, left);
  font-family: $ff;
  @media screen and (max-width: 1024px) {
    font-size: 25px;
  }
  @media screen and (max-width: 830px) {
    font-size: 20px;
  }
}
h4 {
  @include font (24px, 700, 29px, left);
  font-family: $ff;
  color: #fff;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}
h5 {
  @include font (24px, 400, 40px, left);
  font-family: $ff;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}
h6 {
  @include font (20px, 400, 30px, left);
  font-family: $ff;
  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
}
p {
  @include font (18px, 400, 30px, left);
  font-family: $ff;
  color: rgba(224, 229, 243, 1);
}
